<div  ng-app="ippon">
  <div class="view-container">
    <div ng-include="'nav/_nav.html'"></div>
    <flash-message></flash-message>
    <div ui-view class="view-frame animate-view"></div>
  </div>
</div>
