<section class="col-md-8 col-md-offset-3">
 <article class="panel panel-info">
  <header class="panel-heading">
   <h1>{{tournament.name}}</h1>
  </header>
  <div class="panel-body">
   <div class="col-md-7">
    <div class="col-md-3">{{'TOURNAMENT_CITY'|translate}}:</div>
    <div class="col-md-3 col-md-offset-1">{{tournament.city}}</div>
   </div>
   <div class="col-md-7">
    <div class="col-md-3">{{'TOURNAMENT_DATE'|translate}}:</div>
    <div class="col-md-3 col-md-offset-1">{{tournament.date | date
     : "yyyy-MM-dd Z"}}</div>
   </div>
   <div class="col-md-7">
    <div class="col-md-3">{{'TOURNAMENT_ADDRESS'|translate}}:</div>
    <div class="col-md-3 col-md-offset-1">{{tournament.address}}</div>
   </div>
   <div
    ng-if="tournament.team_size > 1"
    class="col-md-7">
    <div class="col-md-3">{{'TOURNAMENT_TEAM_SIZE' | translate }}:</div>
    <div class="col-md-3 col-md-offset-1">{{tournament.team_size}}</div>
   </div>
   <div
    ng-hide="tournament.player_age_constraint == 'age_no_constraint'"
    class="col-md-7">
    <div class="col-md-3">{{'TOURNAMENT_PLAYER_AGE_CONSTRAINT' |
     translate }}:</div>
    <div class="col-md-3 col-md-offset-1">
     {{mapAgeConstraints(tournament.player_age_constraint)}}
     {{tournament.player_age_constraint_value}}</div>
   </div>
   <div
    ng-hide="tournament.player_rank_constraint == 'rank_no_constraint'"
    class="col-md-7">
    <div class="col-md-3">{{'TOURNAMENT_PLAYER_RANK_CONSTRAINT' |
     translate }}:</div>
    <div class="col-md-3 col-md-offset-1">
     {{mapRankConstraints(tournament.player_rank_constraint)}}
     {{mapRanks(tournament.player_rank_constraint_value)}}</div>
   </div>
   <div
    ng-hide="tournament.player_sex_constraint_value == 'all_allowed'"
    class="col-md-7">
    <div class="col-md-3">{{'TOURNAMENT_PLAYER_SEX_CONSTRAINT' |
     translate }}:</div>
    <div
     ng-if="tournament.player_sex_constraint_value == 'women_only'"
     class="col-md-3 col-md-offset-1">{{'TOURNAMENT_WOMEN_ONLY' |
     translate}}</div>
    <div
     ng-if="tournament.player_sex_constraint_value == 'men_only'"
     class="col-md-3 col-md-offset-1">{{'TOURNAMENT_MEN_ONLY' |
     translate}}</div>
   </div>
   <div class="col-md-7">
    <div class="col-md-3">{{'TOURNAMENT_GROUP_FIGHT_LENGTH' |
     translate }}:</div>
    <div class="col-md-3 col-md-offset-1">
     {{tournament.group_match_length}}</div>
   </div>
   <div class="col-md-7">
    <div class="col-md-3">{{'TOURNAMENT_PLAYOFF_FIGHT_LENGTH' |
     translate }}:</div>
    <div class="col-md-3 col-md-offset-1">
     {{tournament.playoff_match_length}}</div>
   </div>
 </article>
 <section>
  <div class="col-md-9">
   <div
    ng-show="is_admin"
    class="col-md-9 text-right btn-group">
    <button
     ng-click="edit()"
     class="btn btn-info"
     id="edit-tournament">{{'EDIT' | translate}}</button>
    <button
     ng-click="delete()"
     class="btn btn-danger"
     id="delete-tournament">{{'DELETE' | translate}}</button>
   </div>
  </div>
 </section>
 <section
  class="row"
  ng-if="playoff_fights.length">
  <div class="h3">{{'TOURNAMENT_PLAYOFF_FIGHTS'|translate}}</div>
  <ippon-playoff-tree levels="leveled_playoffs"></ippon-playoff-tree>
 </section>
 <section
  class="row"
  ng-if="groups.length">
  <div class="h3">{{'TOURNAMENT_GROUPS'|translate}}</div>
  <ul class="list-unstyled">
   <li ng-repeat="group in groups"><ippon-group-brief
     element="group"></ippon-group-brief></li>
  </ul>
 </section>
 <section
  class="row"
  ng-if="teams.length">
  <div class="h3">{{'TOURNAMENT_TEAMS'|translate}}</div>
  <ul class="list-unstyled">
   <li ng-repeat="el in teams"><ippon-team-brief element="el">
    </ippon-team></li>
  </ul>
 </section>
 <section
  class="row"
  ng-if="participants.length">
  <div class="h3">{{'TOURNAMENT_PARTICIPANTS'|translate}}</div>
  <ul class="list-unstyled">
   <li ng-repeat="player in participants"><ippon-player-line
     player="player"> </ippon-player></li>
  </ul>
 </section>
</section>
