<section class="col-md-6 col-md-offset-3">
 <article class="panel panel-info">
  <header class="panel-heading">
   <h1>{{tournament.name}}</h1>
  </header>
  <p class="panel-body">
  <div ng-if="tournament.team_size > 1">{{'TEAM_SIZE' | translate
   }}: {{tournament.team_size}}</div>
  <div ng-if="tournament.player_age_constraint != 0">
   {{'TOURNAMENT_PLAYER_AGE_CONSTRAINT' | translate }}:
   {{tournament.player_age_contraint_value}}</div>
  <div ng-if="tournament.player_rank_constraint > 0">
   {{'TOURNAMENT_PLAYER_RANK_CONTRAINT' | translate }}:
   {{tournament.player_rank_contraint_value}}</div>
  <div ng-if="tournament.player_sex_constraint > 0">
   {{'TOURNAMENT_PLAYER_SEX_CONSTRINAT' | translate }}:
   {{tournament.player_sex_constraint_value}}</div>
  <div>{{'TOURNAMENT_GROUP_MATCH_LENGHT' | translate }}:
   {{tournament.group_match_length}}</div>
  <div>{{'TOURNAMENT_PLAYOFF_MATCH_LENGHT' | translate }}:
   {{tournament.playoff_match_length}}</div>

  <section
   class="row"
   ng-if="playoff_fights.length">
   <div class="h3">{{'TOURNAMENT_PLAYOFF_FIGHTS'|translate}}</div>
   <ippon-playoff-tree levels="leveled_playoffs"></ippon-playoff-tree>
  </section>
  <section
   class="row"
   ng-if="groups.length">
   <div class="h3">{{'TOURNAMENT_GROUPS'|translate}}</div>
   <ul class="list-unstyled">
    <li ng-repeat="group in groups">
    <ippon-group-brief element="group"></ippon-group-brief>
     <!-- <section class="well col-md-6 col-md-offset-3">
      <h1
       class="h3"
       style="margin-top: 0">
       <a
        class="col-md-4"
        href=""
        ng-click="view_group(group.id)"> {{group.group.name}}</a>
      </h1>
      <ul class="list-unstyled">
       <li ng-repeat="team in group.teams"><ippon-team-line team="team"></ippon-team-line></li>
      </ul>
     </section> -->
    </li>
   </ul>
  </section>
  <section
   class="row"
   ng-if="teams.length">
   <div class="h3">{{'TOURNAMENT_TEAMS'|translate}}</div>
   <ul class="list-unstyled">
    <li ng-repeat="el in teams"><ippon-team-brief element="el">
     </ippon-team></li>
   </ul>
  </section>
  </li>
  </ul>
</section>
<section
 class="row"
 ng-if="participants.length">
 <div class="h3">{{'TOURNAMENT_PARTICIPANTS'|translate}}</div>
 <ul class="list-unstyled">
  <li ng-repeat="player in participants"><ippon-player-line
    player="player"> </ippon-player></li>
 </ul>
</section>
</p>
</article>
<section>
 <div class="col-md-9">
  <div
   ng-show="is_admin"
   class="col-md-9 text-right btn-group">
   <button
    ng-click="edit()"
    class="btn btn-info"
    id="edit-tournament">{{'EDIT' | translate}}</button>
   <button
    ng-click="delete()"
    class="btn btn-danger"
    id="delete-team">{{'DELETE' | translate}}</button>
  </div>
 </div>
</section>
</section>
