<form class="form-horizontal" role="form" class="edit-user">
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label
      for="name"
      class="col-md-2 control-label col-md-offset-2">
      {{'CLUB_NAME'|translate}}
    </label>
    <div class="col-md-5">
      <input type="text" name="name" class="form-control" placeholder="{{'CLUB_NAME_PLACEHOLDER' | translate}}" ng-model="club.name">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label
      for="city"
      class="col-md-2 control-label col-md-offset-2">
      {{'CLUB_CITY'|translate}}
    </label>
    <div class="col-md-5">
      <textarea name="city" class="form-control" ng-model='club.city' placeholder="{{'CLUB_CITY_PLACEHOLDER' | translate}}">
      </textarea>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label
      for="description"
      class="col-md-2 control-label col-md-offset-2">
      {{'CLUB_DESCRIPTION'|translate}}
    </label>
    <div class="col-md-5">
      <textarea name="description" class="form-control" ng-model='club.description' placeholder="{{'CLUB_DESCRIPTION_PLACEHOLDER'|translate}}">
      </textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <button class="btn btn-default" ng-click="cancel()" id="cancel-club">{{'CANCEL'|translate}}</button>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-primary" ng-click="save()" id="save-club">{{'SAVE'|translate}}</button>
    </div>
  </div>
</form>
