<header class="row" >
  <h1 class="text-center col-md-6 col-md-offset-3">{{'CLUBS' | translate}}</h1>
</header>

<section class="row">
  <div ng-show="signedIn()" class="form-group col-md-6 col-md-offset-3 text-center">
    <button ng-click="newClub()" class="btn btn-info btn-lg" id="new-club">New Club...</button>
  </div>
</section>

<section class="row" ng-if="clubs.length">
  <ul class="list-unstyled">
    <li ng-repeat="club in clubs">
      <section class="well col-md-6 col-md-offset-3">
        <h1 class="h3 col-md-6 text-left" style="margin-top: 0"><a href="" ng-click="view(club.id)" >{{club.name}}</a></h1>
      </section>
    </li>
  </ul>
</section>
