<section class="col-md-6 col-md-offset-3">
  <article class="panel panel-info">
    <header class="panel-heading"><h1>{{club.name}}</h1>
    {{club.city}}</header>
    <p class="panel-body">
      {{club.description}}
    </p>
  </article>
  <section>
    <div class="col-md-9">
      <button ng-click="index()" class="btn btn-default">
        &larr; Index
      </button>
      <div ng-show="signedIn()" class="col-md-9 text-right btn-group">
        <button ng-click="edit()" class="btn btn-info"> Edit </button>
        <button ng-click="delete()" class="btn btn-danger" id="delete-club"> Delete </button>
      </div>
    </div>
    <div ng-show="signedIn() && admins && users" >
        <ul class="list-unstyled">
          <li ng-repeat="admin in admins">
            <section id="{{admin.username}}-admin-row" class="well col-md-6 col-md-offset-3">
              <h1 class="h3 col-md-6 text-left" style="margin-top: 0">
                {{admin.username}}
                <button ng-click="deleteAdmin(admin.id)" class="btn btn-danger" id="delete-admin"> Delete </button>
              </h1>
            </section>
          </li>
        </ul>
        <ul class="list-unstyled">
          <li ng-repeat="user in users">
            <section id="{{user.username}}-user-row" class="well col-md-6 col-md-offset-3">
              <h1 class="h3 col-md-6 text-left" style="margin-top: 0">
                {{user.username}}
                <button ng-click="addAdmin(user.id)" class="btn btn-info"> Add </button>
              </h1>
            </section>
          </li>
        </ul>
    </div>

  </section>
</section>
