<section class="col-md-6 col-md-offset-3">
  <article class="panel panel-info">
    <header class="panel-heading"><h1>{{club.name}}</h1>
    {{club.city}}</header>
    <p class="panel-body">
      {{club.description}}
    </p>
  </article>
  <section>
    <div class="col-md-9">
      <button ng-click="index()" class="btn btn-default" id="index-club">
        &larr; {{'INDEX' | translate}}
      </button>
      <div ng-show="signedIn()" class="col-md-9 text-right btn-group">
        <button ng-click="edit()" class="btn btn-info" id="edit-club"> {{'EDIT' | translate}} </button>
        <button ng-click="delete()" class="btn btn-danger" id="delete-club"> {{'DELETE' | translate}} </button>
      </div>
    </div>
    <div>
      <ul class="list-unstyled">
        <li ng-repeat="player in players">
          <section class="well col-md-6 col-md-offset-3">
            <a id="{{player.name}}-{{player.surname}}-link" href ng-click="viewPlayer(player.id)">{{player.name}} {{player.surname}}</a>
          </section>
        </li>
      </ul>
    </div>
    <div ng-show="signedIn() && admins && users" >
        <ul class="list-unstyled">
          <li ng-repeat="admin in admins">
            <section id="{{admin.username}}-admin-row" class="well col-md-6 col-md-offset-3">
              <h1 class="h3 col-md-6 text-left" style="margin-top: 0">
                <span>{{admin.username}}</span><span>
                <button ng-click="deleteAdmin(admin.id)" class="btn btn-danger" id="delete-admin"> {{'DELETE' | translate}} </button></span>
              </h1>
            </section>
          </li>
        </ul>
        <ul class="list-unstyled">
          <li ng-repeat="user in users">
            <section id="{{user.username}}-user-row" class="well col-md-6 col-md-offset-3">
              <h1 class="h3 col-md-6 text-left" style="margin-top: 0">
                {{user.username}}
                <button ng-click="addAdmin(user.id)" class="btn btn-info" id="add-admin" > {{'ADD' | translate}} </button>
              </h1>
            </section>
          </li>
        </ul>
    </div>

  </section>
</section>
